<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  </head>
  <body>
    <h1>Slacker</h1>
    <p><%= status %></p>
    <form action="/" method="post">
      <input type="submit" value="<%= snooze %>">
    </form>
  </body>
</html>
