<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Slacker</title>
  <meta name="author" content="Miha Rekar">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
  <%= content %>
</body>
</html>
